.footer__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 15px;
  margin-bottom: 80px;
}
.footer__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 60px;
  margin-bottom: 60px;
  color: #b4b4b4;
}
.footer__rights {
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  line-height: normal;
  font-weight: 600;
}
.footer__private {
  margin-left: auto;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
@media (any-hover: hover) {
  .footer__private:hover {
    color: #8f8c8c;
  }
}
.footer__agreement {
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
@media (any-hover: hover) {
  .footer__agreement:hover {
    color: #8f8c8c;
  }
}